body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-bottom: 60px;
}

/* upper part*/
.top-bar {
    padding-right: 100px;
}

.top-part {
    background-color: #F0FFF0;
    height: 576px;
}

.sign-in {

    background-color: #21B573;
    border-radius: 33px;
    color: white;
}

#logo {
    width: 250px;
    height: 59px;
    padding-left: 100px;
}

.text1 {
    color: #FD511A;
}

.lorem-text {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #6C6B6B;
}

.get-start {

    background: #21B573;
    border-radius: 33px;
    width: 153px;
    height: 43px;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
}

.under-navbar-part {
    padding-top: 50px;
}

.left-part {
    padding-left: 100px;
}

.right-part {
    padding-right: 100px;
}

/*category-part*/
.category img {
    width: 75px;
    height: 80px;
    padding-bottom: 15px;
}

.category {
    padding-top: 60px;


}

.books,
.student,
.student-2,
.test {

    background-color: #F8FFFB;
    border-radius: 10px;
    width: 270px;
    height: 270px;
    align-items: center;
    border: none;
    padding-top: 50px
}

.books:hover,
.student:hover,
.student-2:hover,
.test:hover {
    background-color: white;
    box-shadow: 5px 5px 10px lightgrey;
    cursor: pointer;
    border: none;
}

/*online course part*/
.card {
    width: 370px;
    height: 483px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.card-deck {
    padding-top: 20px;
}

#online-courses h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

.card-footer img {
    width: 24px;
    height: 24px;

}

.card-footer {
    border-top: none;
    background-color: white;
}

/*Testimonial part*/

#testimonial h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

.man {
    width: 120px;
    height: 120px;
}

.testimonial-part {
    padding-left: 150px;
}

.testimonial-part p {
    width: 583px;
    height: 90px;
    padding-left: 20px;
}

/*lower part*/

#lower ul {
    list-style-type: none;
}

#lower {
    padding-top: 50px;
    
    background-color: #282531;
    color: white;
   
}
.first-item{
    font-weight: bold;
    padding-bottom: 5px;
}

#lower .row {
    padding-left: 100px;
    padding-right: 100px;
}

.contact{
    padding-top: 25px;
}

footer {
    background-color: #282531;
    color: white;
    
    padding-top: 50px;
}